<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <title>HTMX WebSockets</title>
</head>
<body>

<table>
<tr>
    <td valign="top" width="50%">
        <p>
            The WebSocket connection is opened automatically.
            Type a message and click "Send".
        </p>

            <p>FR</p>
            <div hx-ext="ws" ws-connect="{{.host}}">

            <div id="output" style="max-height: 70vh;overflow-y: scroll; border: 1px solid #ccc; padding: 10px; min-height: 100px;">
                </div>

            <form ws-send style="margin-top: 1em;">
                <input id="input" name="message" type="text" value="Hello world!">
                <button>Send</button>
            </form>
        </div>
    </td>
</tr>
</table>

</body>
</html>
